IndentWidth: 4
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: false
BreakBeforeBraces: Linux
SpaceAfterCStyleCast: true
